@charset "UTF-8";

@font-face {
    font-family: poppinsl;
    src: url(fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsr;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsb;
    src: url(fonts/Poppins-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    background-color: #2C2C2C;
    height: 100vh;
}

.flex{
    display: flex;
    padding: 0px 10% 0px 10%;
    justify-content: center;
}

h1{
    color: white;
    font-family: poppinsb;
    text-align: center;
    padding: 20px 0px 10px 0px;
}

.esquerda{
    background-color: #FDA700;
    width: 100%;
    max-width: 45%;
    border-radius: 20px 0px 0px 20px;

    padding: 0px 40px;
}

.esquerda > h2{
    font-family: poppinsb;
    font-size: 35px;
    text-align: center;
    padding: 35px 0px 0px 0px;
}

.esquerda > p{
    padding: 20px 0px;
    text-align: justify;
    font-family: poppinsr;
    font-size: 18px;
}

.direita{
    background-color: #F2F2F2;
    width: 100%;
    max-width: 40%;
    border-radius: 0px 20px 20px 0px;
    padding: 0px 80px;
}

.direita > .form{
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form > .text{
    display: flex;
    flex-direction: column;
    font-family: poppinsr;
    font-size: 14px;
}

.form > .text > input{
    padding: 9px;
    border: none;
    width: 100%;
    outline: none;
    background-color: #D9D9D9;
}

.cadastro{
    display: flex;
    justify-content: center;
}

.cadastro > p{
    background-color: #FDA700;
    margin-top: 20px;
    text-align: center;
    font-family: poppinsr;
    padding: 6px;
    width: 100%;
    max-width: 50%;
    border-radius: 50px;
    font-size: 14px;
}


p > a{
    color: black;
}

.logar{
    display: flex;
    justify-content: center;   
}

.logar > p{
    text-align: center;
    font-family: poppinsr;
    width: 100%;
    max-width: 50%;
    border-radius: 50px;
    font-size: 10px;
}

.logar > p > a{
    text-decoration: underline;
}

@media (max-width: 1024px){
    h1{
        font-size: 25px;
        padding-top: 3rem;

    }

    .esquerda{
        display: none;
    }

    .direita{
        border-radius: 20px 20px 20px 20px;
        padding: 0px 20px;
    }
}

@media (max-width: 780px){
    h1{
        font-size: 20px;
    }
    .direita{
        background-color: #F2F2F2;
        width: 140vw;
        border-radius: 20px 20px 20px 20px;
        padding: 0px 20px;
    }
}

@media (max-width: 640px){
    .flex{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    .direita{
        width: 100%;
        max-width: 370px;
    }
}